npm install --save-dev grunt-babel

// Sets your npm global registry to point at our virtual proxy. This is so you can get the homeaway packages as well as the global packages.
npm config set registry https://npm.homeawaycorp.com/artifactory/api/npm/npm

// Register your LDAP with our Virtual NPM (This command will append 3 lines into your .npmrc)
curl -u aalsberge "https://npm.homeawaycorp.com/artifactory/api/npm/auth" >> ~/.npmrc

// Register the @homeaway scope with your LDAP (This command will append 4 lines into your .npmrc)
curl -u aalsberge "https://npm.homeawaycorp.com/artifactory/api/npm/npm-local/auth/homeaway" >> ~/.npmrc
